{{ define "main" }}

<!-- FIXME: this is breaking the footer layout -->
<!-- put by @cassiobatista -->
<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css"> 

<div class="container" role="main">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> 
    <article class="post-preview">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {{ range .Pages }}
          <div class="panel panel-default">
            <a class="collapsed" role="button" data-toggle="collapse" data-target="#collapse{{ .File.TranslationBaseName }}" data-parent="#accordion" aria-expanded="false" aria-controls="collapse{{ .File.TranslationBaseName }}">
                <div class="panel-heading" role="tab" id="header{{ .File.TranslationBaseName }}">
                  <h4 class="panel-title">
                      {{ .Params.short_name }}
                    <span class="badge">{{ .Params.role }}</span>
                  </h4>
                </div>
            </a>
            <div id="collapse{{ .File.TranslationBaseName }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ .File.TranslationBaseName }}">
              <div class="panel-body">
                <div class="list-group">
                  <h2>{{ .Params.full_name }}</h2>
                  {{ partial "member-card.html" (dict "avatar" .Params.src_img "content" .Content) }}
                  {{ range $key, $value := .Params }}
                    {{ range where $.Site.Data.beautifulhugo.social.social_icons "id" $key }} 
                      <a href="{{ printf .url $value }}" target="_blank" title="{{ .title }}">
                        <i class="{{ .icon }}"></i>
                      </a>
                    {{ end }}
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    {{ .Content }} 
    </article>
  </div>
</div>


{{ end }}
