<!DOCTYPE html>
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
<head>
  {{ partial "head.html" . }}
</head>
<body>
{{ partial "nav.html" . }}
{{ block "header" . }} 
  {{ partial "header.html" . }} 
{{ end }}

<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css"> 

<div class="container" role="main">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> 
    <article class="post-preview">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {{ range .Pages }}
          <div class="panel panel-default">
            <a class="collapsed" role="button" data-toggle="collapse" data-target="#collapse{{ .File.TranslationBaseName }}" data-parent="#accordion" aria-expanded="false" aria-controls="collapse{{ .File.TranslationBaseName }}">
                <div class="panel-heading" role="tab" id="header{{ .File.TranslationBaseName }}">
                  <!--<h4 class="panel-title">-->
                  <p>
                    <span class="badge">{{ .Params.year }}</span>
                    {{ .Params.endnote | safeHTML }}
                  </p>
                </div>
            </a>
            <div id="collapse{{ .File.TranslationBaseName }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ .File.TranslationBaseName }}">
              <div class="panel-body">
                <div class="list-group">
                  {{ range $key, $value := .Params.resources }}
                    {{ range where $.Site.Data.beautifulhugo.pubfinder.social_icons "id" $key }}
                      <a href="{{ printf .url $value }}" target="_blank" title="{{ .title }}"> 
                        <i class="{{ .icon }}"></i>
                      </a>
                    {{ end }}
                  {{ end }}
                  <p>{{ .Content }}</p>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </article>
  </div>
</div>

{{ partial "footer_member.html" . }}
</body>
</html>
